/.claude
.fake
# .vscode

# .NET build outputs
**/bin/
**/obj/
**/*.user
**/*.suo
**/*.cache
**/*.dll
**/*.pdb
**/*.exe
**/*.xml
**/*.deps.json
**/*.runtimeconfig.json
**/*.runtimeconfig.dev.json
**/*.sourcelink.json

# NuGet
packages/
*.nuget.props
*.nuget.targets
project.lock.json
project.fragment.lock.json
artifacts/

# Visual Studio
.vs/
*.sln.docstates
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# NUNIT
*.VisualState.xml
TestResult.xml

# Build Results of an ATL Project
[Dd]ebugPS/
[Rr]eleasePS/
dlldata.c

# DNX
project.lock.json
project.fragment.lock.json
artifacts/

# StyleCop
StyleCopReport.xml

# Files built by Visual Studio
*.iobj
*.ipdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc

# Chutzpah Test files
_Chutzpah*

# Visual C++ cache files
ipch/
*.aps
*.ncb
*.opendb
*.opensdf
*.sdf
*.cachefile
*.VC.db
*.VC.VC.opendb

# Visual Studio profiler
*.psess
*.vsp
*.vspx
*.sap

# TFS 2012 Local Workspace
$tf/

# Guidance Automation Toolkit
*.gpState

# ReSharper is a .NET coding add-in
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# JustCode is a .NET coding add-in
.JustCode

# TeamCity is a build add-in
_TeamCity*

# DotCover is a Code Coverage Tool
*.dotCover

# NCrunch
_NCrunch_*
.*crunch*.local.xml
nCrunchTemp_*

# MightyMoose
*.mm.*
AutoTest.Net/

# Web workbench (sass)
.sass-cache/

# Installshield output folder
[Ee]xpress/

# DocProject is a documentation generator add-in
DocProject/buildhelp/
DocProject/Help/*.HxT
DocProject/Help/*.HxC
DocProject/Help/Html2
DocProject/Help/html

# Click-Once directory
publish/

# Publish Web Output
*.[Pp]ublish.xml
*.azurePubxml
# TODO: Comment the next line if you want to checkin your web deploy settings
# but database connection strings (with potential passwords) will be unencrypted
*.pubxml
*.publishproj

# Microsoft Azure Web App publish settings. Comment the next line if you want to
# checkin your Azure Web App publish settings, but sensitive information contained
# in these files may be revealed
*.azurePubxml

# NuGet Packages
*.nupkg
# The packages folder can be ignored because of Package Restore
**/packages/*
# except build/, which is used as an MSBuild target.
!**/packages/build/
# Uncomment if necessary however generally it will be regenerated when needed
#!**/packages/repositories.config
# NuGet v3's project.json files produces more ignoreable files
*.nuget.props
*.nuget.targets

# Microsoft Azure Build Output
csx/
*.build.csdef

# Microsoft Azure Emulator
ecf/
rcf/

# Windows Store app package directories and files
AppPackages/
BundleArtifacts/
Package.StoreAssociation.xml
_pkginfo.txt

# Visual Studio cache files
# files ending in .cache can be ignored
*.[Cc]ache
# but keep track of directories ending in .cache
!*.[Cc]ache/

# Others
ClientBin/
~$*
*~
*.dbmdl
*.dbproj.schemaview
*.jfm
*.pfx
*.publishsettings
orleans.codegen.cs

# Including strong name files can present a security risk
# (https://github.com/github/gitignore/pull/2483#issue-259490424)
#*.snk

# Since there are multiple workflows, uncomment next line to ignore bower_components
# (https://github.com/github/gitignore/pull/1529#issuecomment-104372622)
#bower_components/

# RIA/Silverlight projects
Generated_Code/

# Backup & report files from converting an old project file
# to a newer Visual Studio version. Backup files are not needed,
# because we have git ;-)
_UpgradeReport_Files/
Backup*/
UpgradeLog*.XML
UpgradeLog*.htm

# SQL Server files
*.mdf
*.ldf
*.ndf

# Business Intelligence projects
*.rdl.data
*.bim.layout
*.bim_*.settings

# Microsoft Fakes
FakesAssemblies/

# GhostDoc plugin setting file
*.GhostDoc.xml

# Node.js Tools for Visual Studio
.ntvs_analysis.dat
node_modules/

# Typescript v1 declaration files
typings/

# Visual Studio 6 build log
*.plg

# Visual Studio 6 workspace options file
*.opt

# Visual Studio 6 auto-generated workspace file (contains which files were open etc.)
*.vbw

# Visual Studio LightSwitch build output
**/*.HTMLClient/GeneratedArtifacts
**/*.DesktopClient/GeneratedArtifacts
**/*.DesktopClient/ModelManifest.xml
**/*.Server/GeneratedArtifacts
**/*.Server/ModelManifest.xml
_Pvt_Extensions

# Paket dependency manager
.paket/paket.exe
paket-files/

# FAKE - F# Make
.fake/

# JetBrains Rider
.idea/
*.sln.iml

# CodeRush
.cr/

# Python Tools for Visual Studio (PTVS)
__pycache__/
*.pyc

# Cake - Uncomment if you are using it
# tools/**
# !tools/packages.config

# Tabs Studio
*.tss

# Telerik's JustMock configuration file
*.jmconfig

# BizTalk build output
*.btp.cs
*.btm.cs
*.odx.cs
*.xsd.cs

# OpenCover UI analysis results
OpenCover/
CoverageReport/badge_branchcoverage.svg
CoverageReport/badge_combined.svg
CoverageReport/badge_fullmethodcoverage.svg
CoverageReport/badge_linecoverage.svg
CoverageReport/badge_methodcoverage.svg
CoverageReport/badge_shieldsio_branchcoverage_blue.svg
CoverageReport/badge_shieldsio_branchcoverage_brightgreen.svg
CoverageReport/badge_shieldsio_branchcoverage_green.svg
CoverageReport/badge_shieldsio_branchcoverage_lightgrey.svg
CoverageReport/badge_shieldsio_branchcoverage_orange.svg
CoverageReport/badge_shieldsio_branchcoverage_red.svg
CoverageReport/badge_shieldsio_branchcoverage_yellow.svg
CoverageReport/badge_shieldsio_branchcoverage_yellowgreen.svg
CoverageReport/badge_shieldsio_fullmethodcoverage_blue.svg
CoverageReport/badge_shieldsio_fullmethodcoverage_brightgreen.svg
CoverageReport/badge_shieldsio_fullmethodcoverage_green.svg
CoverageReport/badge_shieldsio_fullmethodcoverage_lightgrey.svg
CoverageReport/badge_shieldsio_fullmethodcoverage_orange.svg
CoverageReport/badge_shieldsio_fullmethodcoverage_red.svg
CoverageReport/badge_shieldsio_fullmethodcoverage_yellow.svg
CoverageReport/badge_shieldsio_fullmethodcoverage_yellowgreen.svg
CoverageReport/badge_shieldsio_linecoverage_blue.svg
CoverageReport/badge_shieldsio_linecoverage_brightgreen.svg
CoverageReport/badge_shieldsio_linecoverage_green.svg
CoverageReport/badge_shieldsio_linecoverage_lightgrey.svg
CoverageReport/badge_shieldsio_linecoverage_orange.svg
CoverageReport/badge_shieldsio_linecoverage_red.svg
CoverageReport/badge_shieldsio_linecoverage_yellow.svg
CoverageReport/badge_shieldsio_linecoverage_yellowgreen.svg
CoverageReport/badge_shieldsio_methodcoverage_blue.svg
CoverageReport/badge_shieldsio_methodcoverage_brightgreen.svg
CoverageReport/badge_shieldsio_methodcoverage_green.svg
CoverageReport/badge_shieldsio_methodcoverage_lightgrey.svg
CoverageReport/badge_shieldsio_methodcoverage_orange.svg
CoverageReport/badge_shieldsio_methodcoverage_red.svg
CoverageReport/badge_shieldsio_methodcoverage_yellow.svg
CoverageReport/badge_shieldsio_methodcoverage_yellowgreen.svg
CoverageReport/class.js
CoverageReport/icon_cog_dark.svg
CoverageReport/icon_cog.svg
CoverageReport/icon_cube_dark.svg
CoverageReport/icon_cube.svg
CoverageReport/icon_fork_dark.svg
CoverageReport/icon_fork.svg
CoverageReport/icon_info-circled_dark.svg
CoverageReport/icon_info-circled.svg
CoverageReport/icon_minus_dark.svg
CoverageReport/icon_minus.svg
CoverageReport/icon_plus_dark.svg
CoverageReport/icon_plus.svg
CoverageReport/icon_search-minus_dark.svg
CoverageReport/icon_search-minus.svg
CoverageReport/icon_search-plus_dark.svg
CoverageReport/icon_search-plus.svg
CoverageReport/icon_sponsor.svg
CoverageReport/icon_star_dark.svg
CoverageReport/icon_star.svg
CoverageReport/icon_up-dir_active.svg
CoverageReport/icon_up-dir.svg
CoverageReport/icon_up-down-dir_dark.svg
CoverageReport/icon_up-down-dir.svg
CoverageReport/icon_wrench_dark.svg
CoverageReport/icon_wrench.svg
CoverageReport/index.htm
CoverageReport/index.html
CoverageReport/main.js
CoverageReport/report.css
CoverageReport/UbiquitousLanguageManager.Application_ApplicationUseCases.html
CoverageReport/UbiquitousLanguageManager.Application_ChangePasswordCommandModule.html
CoverageReport/UbiquitousLanguageManager.Application_LoginCommandModule.html
CoverageReport/UbiquitousLanguageManager.Application_RegisterUserCommandModule.html
CoverageReport/UbiquitousLanguageManager.Application_UbiquitousLanguageApplicationService.html
CoverageReport/UbiquitousLanguageManager.Application_UbiquitousLanguageManagementUseCase.html
CoverageReport/UbiquitousLanguageManager.Application_UseCaseResult.html
CoverageReport/UbiquitousLanguageManager.Application_UserApplicationService.html
CoverageReport/UbiquitousLanguageManager.Application_UserManagementUseCase.html
CoverageReport/UbiquitousLanguageManager.Contracts_ApprovalDto.html
CoverageReport/UbiquitousLanguageManager.Contracts_AuthenticatedUserDto.html
CoverageReport/UbiquitousLanguageManager.Contracts_AuthenticationMapper.html
CoverageReport/UbiquitousLanguageManager.Contracts_ChangeEmailDto.html
CoverageReport/UbiquitousLanguageManager.Contracts_ChangePasswordDto.html
CoverageReport/UbiquitousLanguageManager.Contracts_ChangePasswordRequestDto.html
CoverageReport/UbiquitousLanguageManager.Contracts_ChangePasswordResponseDto.html
CoverageReport/UbiquitousLanguageManager.Contracts_ChangeUserRoleDto.html
CoverageReport/UbiquitousLanguageManager.Contracts_CreateDomainDto.html
CoverageReport/UbiquitousLanguageManager.Contracts_CreateProjectDto.html
CoverageReport/UbiquitousLanguageManager.Contracts_CreateUbiquitousLanguageDto.html
CoverageReport/UbiquitousLanguageManager.Contracts_CreateUserDto.html
CoverageReport/UbiquitousLanguageManager.Contracts_DomainDto.html
CoverageReport/UbiquitousLanguageManager.Contracts_LoginDto.html
CoverageReport/UbiquitousLanguageManager.Contracts_LoginRequestDto.html
CoverageReport/UbiquitousLanguageManager.Contracts_LoginResponseDto.html
CoverageReport/UbiquitousLanguageManager.Contracts_ProjectDto.html
CoverageReport/UbiquitousLanguageManager.Contracts_ProjectPermissionDto.html
CoverageReport/UbiquitousLanguageManager.Contracts_ResultDto_1.html
CoverageReport/UbiquitousLanguageManager.Contracts_ResultDto_2.html
CoverageReport/UbiquitousLanguageManager.Contracts_ResultDto.html
CoverageReport/UbiquitousLanguageManager.Contracts_ServiceResult_1.html
CoverageReport/UbiquitousLanguageManager.Contracts_SubmitForApprovalDto.html
CoverageReport/UbiquitousLanguageManager.Contracts_TypeConverters.html
CoverageReport/UbiquitousLanguageManager.Contracts_UbiquitousLanguageDto.html
CoverageReport/UbiquitousLanguageManager.Contracts_UpdateDomainDto.html
CoverageReport/UbiquitousLanguageManager.Contracts_UpdateProjectDto.html
CoverageReport/UbiquitousLanguageManager.Contracts_UserDto.html
CoverageReport/UbiquitousLanguageManager.Contracts_UserProfileDto.html
CoverageReport/UbiquitousLanguageManager.Domain_ConcurrencyStamp.html
CoverageReport/UbiquitousLanguageManager.Domain_Description.html
CoverageReport/UbiquitousLanguageManager.Domain_Domain.html
CoverageReport/UbiquitousLanguageManager.Domain_DomainId.html
CoverageReport/UbiquitousLanguageManager.Domain_DomainService.html
CoverageReport/UbiquitousLanguageManager.Domain_DraftUbiquitousLanguage.html
CoverageReport/UbiquitousLanguageManager.Domain_Email.html
CoverageReport/UbiquitousLanguageManager.Domain_EnglishName.html
CoverageReport/UbiquitousLanguageManager.Domain_FormalUbiquitousLanguage.html
CoverageReport/UbiquitousLanguageManager.Domain_JapaneseName.html
CoverageReport/UbiquitousLanguageManager.Domain_Password.html
CoverageReport/UbiquitousLanguageManager.Domain_PasswordHash.html
CoverageReport/UbiquitousLanguageManager.Domain_PermissionMappings.html
CoverageReport/UbiquitousLanguageManager.Domain_Project.html
CoverageReport/UbiquitousLanguageManager.Domain_ProjectId.html
CoverageReport/UbiquitousLanguageManager.Domain_ProjectPermission.html
CoverageReport/UbiquitousLanguageManager.Domain_SecurityStamp.html
CoverageReport/UbiquitousLanguageManager.Domain_SpecificationCombiners.html
CoverageReport/UbiquitousLanguageManager.Domain_SpecificationHelpers.html
CoverageReport/UbiquitousLanguageManager.Domain_StrongEmail.html
CoverageReport/UbiquitousLanguageManager.Domain_UbiquitousLanguageId.html
CoverageReport/UbiquitousLanguageManager.Domain_UbiquitousLanguageSpecifications.html
CoverageReport/UbiquitousLanguageManager.Domain_User.html
CoverageReport/UbiquitousLanguageManager.Domain_UserDomainService.html
CoverageReport/UbiquitousLanguageManager.Domain_UserId.html
CoverageReport/UbiquitousLanguageManager.Domain_UserName.html
CoverageReport/UbiquitousLanguageManager.Domain_UserProfile.html
CoverageReport/UbiquitousLanguageManager.Domain_UserSpecifications.html
CoverageReport/UbiquitousLanguageManager.Infrastructure_ApplicationUser.html
CoverageReport/UbiquitousLanguageManager.Infrastructure_AuthenticationService.html
CoverageReport/UbiquitousLanguageManager.Infrastructure_DesignTimeDbContextFactory.html
CoverageReport/UbiquitousLanguageManager.Infrastructure_Domain.html
CoverageReport/UbiquitousLanguageManager.Infrastructure_DomainApprover.html
CoverageReport/UbiquitousLanguageManager.Infrastructure_DraftUbiquitousLang.html
CoverageReport/UbiquitousLanguageManager.Infrastructure_DraftUbiquitousLangRelation.html
CoverageReport/UbiquitousLanguageManager.Infrastructure_FinalInitMigrationWithComments.html
CoverageReport/UbiquitousLanguageManager.Infrastructure_FormalUbiquitousLang.html
CoverageReport/UbiquitousLanguageManager.Infrastructure_FormalUbiquitousLangHistory.html
CoverageReport/UbiquitousLanguageManager.Infrastructure_FSharpLoggerAdapter_1.html
CoverageReport/UbiquitousLanguageManager.Infrastructure_InitialDataService.html
CoverageReport/UbiquitousLanguageManager.Infrastructure_InitialSuperUserSettings.html
CoverageReport/UbiquitousLanguageManager.Infrastructure_NotificationService.html
CoverageReport/UbiquitousLanguageManager.Infrastructure_PasswordResetService.html
CoverageReport/UbiquitousLanguageManager.Infrastructure_Project.html
CoverageReport/UbiquitousLanguageManager.Infrastructure_RelatedUbiquitousLang.html
CoverageReport/UbiquitousLanguageManager.Infrastructure_SmtpClientWrapper.html
CoverageReport/UbiquitousLanguageManager.Infrastructure_SmtpEmailSender.html
CoverageReport/UbiquitousLanguageManager.Infrastructure_SmtpSettings.html
CoverageReport/UbiquitousLanguageManager.Infrastructure_UbiquitousLanguageDbContext.html
CoverageReport/UbiquitousLanguageManager.Infrastructure_UbiquitousLanguageDbContextModelSnapshot.html
CoverageReport/UbiquitousLanguageManager.Infrastructure_UserProject.html
CoverageReport/UbiquitousLanguageManager.Infrastructure_UserRepository.html
CoverageReport/UbiquitousLanguageManager.Web_AccountController.html
CoverageReport/UbiquitousLanguageManager.Web_App.html
CoverageReport/UbiquitousLanguageManager.Web_AuthDisplay.html
CoverageReport/UbiquitousLanguageManager.Web_AuthenticationService.html
CoverageReport/UbiquitousLanguageManager.Web_AuthorizeViewExtensions.html
CoverageReport/UbiquitousLanguageManager.Web_ConfirmationDialog.html
CoverageReport/UbiquitousLanguageManager.Web_CustomAuthenticationStateProvider.html
CoverageReport/UbiquitousLanguageManager.Web_ErrorBoundary.html
CoverageReport/UbiquitousLanguageManager.Web_FieldValidator_1.html
CoverageReport/UbiquitousLanguageManager.Web_ForgotPassword.html
CoverageReport/UbiquitousLanguageManager.Web_GlobalExceptionMiddleware.html
CoverageReport/UbiquitousLanguageManager.Web_GlobalExceptionMiddlewareExtensions.html
CoverageReport/UbiquitousLanguageManager.Web_HomeController.html
CoverageReport/UbiquitousLanguageManager.Web_KeyboardShortcuts.html
CoverageReport/UbiquitousLanguageManager.Web_LoadingOverlay.html
CoverageReport/UbiquitousLanguageManager.Web_Login.html
CoverageReport/UbiquitousLanguageManager.Web_LoginViewModel.html
CoverageReport/UbiquitousLanguageManager.Web_MainLayout.html
CoverageReport/UbiquitousLanguageManager.Web_NavMenu.html
CoverageReport/UbiquitousLanguageManager.Web_Pages__Host.html
CoverageReport/UbiquitousLanguageManager.Web_PasswordMatchAttribute.html
CoverageReport/UbiquitousLanguageManager.Web_PasswordStrengthAttribute.html
CoverageReport/UbiquitousLanguageManager.Web_PermissionGuard.html
CoverageReport/UbiquitousLanguageManager.Web_Program.html
CoverageReport/UbiquitousLanguageManager.Web_RedirectToLogin.html
CoverageReport/UbiquitousLanguageManager.Web_ResetPassword.html
CoverageReport/UbiquitousLanguageManager.Web_SecureButton.html
CoverageReport/UbiquitousLanguageManager.Web_SecurityStatusIndicator.html
CoverageReport/UbiquitousLanguageManager.Web_ToastNotification.html
CoverageReport/UbiquitousLanguageManager.Web_TooltipComponent.html
CoverageReport/UbiquitousLanguageManager.Web_UserEditModal.html
CoverageReport/UbiquitousLanguageManager.Web_UserManagement.html
CoverageReport/UbiquitousLanguageManager.Web_ValidatedInputText.html
CoverageReport/UbiquitousLanguageManager.Web_ValidationSummary.html
CoverageReport/UbiquitousLanguageManager.Web_Views__ViewStart.html
CoverageReport/UbiquitousLanguageManager.Web_Views_Account_AccessDenied.html
CoverageReport/UbiquitousLanguageManager.Web_Views_Account_Login.html
CoverageReport/UbiquitousLanguageManager.Web_Views_Home_Error.html
CoverageReport/UbiquitousLanguageManager.Web_Views_Home_Index.html
CoverageReport/UbiquitousLanguageManager.Web_Views_Shared__Layout.html
